@font-face {
  font-family: Raleway;
}
/* Base */
:root {
  --clr-primary: #26bdae;
}

body {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#0168ef, #06f1d2);
    color: rgb(216, 216, 216);
    overflow-x: hidden;
}

header {
  background-color: #0168ef;
  width: 100%;
  position: static;
}


.main-nav {
  height: 65px;
  
}
/*
.logo {
  color: white;
  line-height: 65px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 65px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}

.navlinks li a:hover {
  color: #00ffdd;
  padding-bottom: 7px;
  border-bottom: 2px solid #01fff2;
}
*/
li a.contact {
  background-color: #009ea7;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s linear 0s;
}
.contact {

    background-color: #009ea7;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
  }
li a.contact:hover {
    background-color: #007c83;
    color: white;
    border-bottom: none;
}
.contact:hover {
    background-color: #007c83;
    color: white;
    border-bottom: none;
}
.menu-btn {
  color: white;
  font-size: 25px;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#isChecked {
  display: none;
}

